################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JwtApplication
/JwtApplication.Api/.vs/JwtApplication
/JwtApplication.Api/bin/Debug/netcoreapp3.0
/JwtApplication.Api/obj
/JwtApplication.Services/bin/Debug/netcoreapp3.0
/JwtApplication.Services/obj
